* {
  padding: 0;
  margin: 0;
}

:root {
  --couleur-primary: #0056b3;
  --couleur-secondary: #e67e22;
  --couleur-dark: #0f172a;
  --couleur-bg-dark: #1e293b;
  --font-titre: "Playfair Display", serif;
  --font-texte: "Montserrat", sans-serif;
}

/* HEADER NAVBAR */
.navbar {
  background-color: var(--couleur-dark);
  font-family: var(--font-texte);
  padding: 1rem 0;
}

.navbar-brand {
  font-family: var(--font-titre);
  font-size: 2rem;
  color: white !important;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
  margin: 0 0.8rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.4s ease;
}

.nav-link:hover {
  color: var(--couleur-secondary) !important;
  border-bottom: 2px solid var(--couleur-secondary);
}

/* FOOTER */
.footer {
  font-weight: bold;
  font-size: 1.1rem;
}

.container-fluid {
  padding: 0;
  background-color: var(--couleur-dark);
  font-family: var(--font-texte);
  color: rgba(255, 255, 255, 0.8) !important;
}

.lien a {
  margin: 0 1rem;
}

.lien a:hover {
  text-decoration: underline;
}

.big-title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-title h1 {
  font-family: var(--font-titre);
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250%);
  z-index: 1;
}

.big-title {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.box-connexion {
  padding: 3rem;
  margin: 3rem auto 3rem auto;
  width: 50%;
  border-radius: 8px;
}

.box-connexion .form-control {
  width: 350px;
}

.box-connexion label,
.box-connexion a,
.box-connexion p,
.lien a {
  color: var(--couleur-secondary);
}

.box-connexion a,
.lien a {
  text-decoration: none;
}

.connect-button {
  padding: 0.5rem 1rem;
  background-color: var(--couleur-dark);
  border-radius: 5px;
  color: var(--couleur-secondary);
  font-weight: bold;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.connect-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(230, 126, 34, 0.3);
}

.password .connexion {
  width: 300px;
  display: inline-block;
}

.forgot-password {
  font-size: 0.8rem;
}

.big-title-accueil {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.big-title-accueil img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.big-title-accueil h1,
.big-title-accueil h2 {
  font-family: var(--font-titre);
  color: white !important;
  font-size: 2.5rem !important;
}

.big-title-accueil h1,
.big-title-accueil h2,
.big-title-accueil button {
  position: relative;
  z-index: 1;
  left: auto;
  top: auto;
  transform: none;
}

.big-title-button:hover,
.detail-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(230, 126, 34, 0.3);
}

.big-title-button,
.detail-button {
  padding: 0.5rem 1rem;
  background-color: var(--couleur-dark);
  border-radius: 5px;
  color: var(--couleur-secondary);
  font-weight: bold;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.presentation {
  width: 60%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.titre-realisation {
  color:  rgba(255, 255, 255, 0.8);
}

.titre-presentation,
.titre-avis {
  font-family: var(--font-texte);
  color: var(--couleur-primary);
  width: 70%;
  margin: 10px auto;
}
.text-realisation {
  font-size: 1.2rem;
  color:  rgba(255, 255, 255, 0.8);
}


.text-presentation {
  font-family: var(--font-texte);
  color: var(--couleur-primary);
  width: 90%;
  margin: 10px auto;
}

.text-presentation p {
  text-align: justify;
  font-size: 1.2rem;
}

.titre-presentation {
  font-size: 1.5rem;
}

.image-presentation {
  width: 70%;
  max-height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.image-presentation img {
  border-radius: 8px;
  width: 80%;
  height: auto;
  object-fit: cover;
}

.realisations {
  background-color: var(--couleur-dark);
  border-radius: 8px;
  width: 60%;
}

.image-realisation img {
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
}

.section-avis {
  width: 80%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.avis {
  font-family: var(--font-texte);
  color: var(--couleur-primary);
  border: 2px solid var(--couleur-secondary);
  border-radius: 8px;
}

.titre-h2-bleu {
  color: var(--couleur-primary);
}

.password-input {
  position: relative;
  display: inline-block;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.list-menus {
  background-color: rgba(255, 255, 255, 0.8);
}

.details-menu {
  max-width: 400px;
  background-color: var(--couleur-bg-dark);
  border-radius: 8px;
  font-family: var(--font-texte);
  color: white;
  border: 1px solid var(--couleur-secondary);
}

.carte-menu h3 {
  font-family: var(--font-titre);
  color: var(--couleur-secondary);
}

.card-img-menu {
  border-radius: 8px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-title {
  font-size: 1.5rem;
}

#recap-menu,
#recap-reduc,
#recap-total,
#recap-livraison {
  font-weight: bold;
}

.filters {
  font-family: var(--font-texte);
  color: var(--couleur-secondary);
  border: 1px solid var(--couleur-secondary);
  background-color: var(--couleur-bg-dark);
  border-radius: 8px;
  width: 60%;
}

.menus {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

#form-menu,
#form-order {
  display: none;
}

.form-user,
.form-menu,
.form-order {
  font-family: var(--font-texte);
  background-color: var(--couleur-bg-dark);
  border-radius: 8px;
  color: var(--couleur-secondary);
  width: 40%;
  min-width: 320px;
  margin: 0 auto;
  padding: 2rem;
}

th {
  color: var(--couleur-primary);
}

.contact {
    background-color: var(--couleur-bg-dark) !important;
    border-radius: 8px;
    padding: 2rem;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

.contact label {
    color: var(--couleur-secondary) !important;
}

.cgv,
.ml {
  font-family: var(--font-texte);
  color: var(--couleur-dark);
}

.cgv h3,
.ml h3 {
  font-family: var(--font-texte);
  color: var(--couleur-secondary);
  font-size: 1.4rem;
}

.table {
  font-size: 1.1rem;
}

.table th,
.table td {
    padding: 0.75rem 1.5rem;
}
